<div class="row">
  <div class="col-md-6">
    <div class="float-left padding-top-bottom-20">
      <h3 class="active-color">Jobs that you posted</h3>
    </div>
  </div>
  <div class="col-md-6">
    <div class="float-right padding-top-bottom-20">
      <button (click)="openPostModal()" class="btn btn-secondary">
        <span>Post Job</span>
        <span class="fa fa-pencil"></span>
      </button>
    </div>
  </div>
</div>
<div class="jobs-container">
  <app-user-job *ngFor="let job of jobs" [job]="job"
                (onDelete)="removeJobFromList($event)">
  </app-user-job>
</div>
