<div class="employer-signup-container">
  <app-menu></app-menu>
  <div class="employer-signup-form">

    <form (ngSubmit)="employerSignup()" [formGroup]="employerForm" class="neutral-color">

      <div class="row padding-top-10">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <span class="float-left"><b>Name</b></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-4 signup-first-name padding-bottom-10">
          <app-input-text formControlName="firstName"
            [required]="true"
            [placeholder]="'First'"></app-input-text>
        </div>
        <div class="col-md-4 signup-last-name padding-bottom-10">
          <app-input-text formControlName="lastName"
            [required]="true"
            [placeholder]="'Last'"></app-input-text>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <span class="float-left"><b>Birthday</b></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 padding-bottom-10 float-left">
          <app-input-calendar formControlName="birthday"
            [required]="true"
            [settings]="calendarSettings">
          </app-input-calendar>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <span class="float-left"><b>Gender</b></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 padding-bottom-10">
          <app-input-select formControlName="gender"
                            [options]="genders"
                            [required]="true">
          </app-input-select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <span class="float-left"><b>Phone</b></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 padding-bottom-10">
          <app-input-text formControlName="phone"
            [required]="true"></app-input-text>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <span class="float-left"><b>Email</b></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 padding-bottom-10" [ngClass]="{'group-input-error': employerForm.get('email').errors?.email ? true : false}">
          <app-input-unique formControlName="email"
                            [field]="'email'"
                            [required]="true"></app-input-unique>
            <span class="error-message" *ngIf="employerForm.get('email').errors?.email">
              Invalid email
            </span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <span class="float-left"><b>Username</b></span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 padding-bottom-10">
          <app-input-unique formControlName="username"
                            [field]="'username'"
                            [minLength]="3"
                            [required]="true"></app-input-unique>
        </div>
      </div>

      <div formGroupName="passwordGroup">

        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <span class="float-left"><b>Password</b></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8 padding-bottom-10" [ngClass]="{'group-input-error': employerForm.get('passwordGroup').errors?.match}">
            <app-input-password formControlName="password"
                                [required]="true"
                                [minLength]="8">
            </app-input-password>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            <span class="float-left"><b>Confirm Password</b></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8 padding-bottom-10" [ngClass]="{'group-input-error': employerForm.get('passwordGroup').errors?.match}">
            <app-input-password formControlName="confirmPassword"
                                [required]="true"
                                [minLength]="8">
            </app-input-password>
            <span class="error-message" *ngIf="employerForm.get('passwordGroup').errors?.match">
              These passwords don't match
            </span>
          </div>
        </div>

      </div>

      <div class="row padding-top-bottom-10">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
          <button type="reset" [routerLink]="['/user/signup/role']" class="col-md-12 btn btn-outline-secondary">Previous</button>
        </div>
        <div class="col-md-4">
          <button type="submit" class="col-md-12 btn brand-btn">
            <span>Done</span>
          </button>
        </div>
      </div>

    </form>
  </div>

</div>
