<div class="employee-signup-form">

  <form (ngSubmit)="employeeSignup()" [formGroup]="employeeForm">

    <div class="row padding-top-10">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <span class="float-left"><b>Proffession</b></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 padding-bottom-10">
        <app-input-select formControlName="profession" ngDefaultControl
                          [options]="professions"
                          [required]="true">
        </app-input-select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <span class="float-left"><b>Cities that you cover</b></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 padding-bottom-10">
        <app-input-select formControlName="region" ngDefaultControl
                          [options]="cities"
                          [required]="true">
        </app-input-select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <span class="float-left"><b>Job description</b></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 control-padd2ing">
        <app-text-area formControlName="description" ngDefaultControl
                       [required]="true">
        </app-text-area>
      </div>
    </div>

    <div class="row padding-top-bottom-10">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <button type="submit" [disabled]="!employeeForm.valid || !user.city?.length || !user.profession" class="col-md-12 btn btn-primary">Done</button>
      </div>
    </div>

  </form>
</div>
