<div *ngIf="workers">

  <div *ngIf="totalNumber">
    <div class="row top-pagination">
      <div class="col-md-12 padding-top-15">
        {{workers.lenght}}
        <ngb-pagination (pageChange)="pageChanged($event)"
                        [rotate]="true"
                        [pageSize]="size"
                        [maxSize]='10'
                        [collectionSize]="totalNumber"
                        [(page)]="page"
                        [directionLinks]="false">
        </ngb-pagination>
      </div>
    </div>

    <div class="row list">
      <div class="col-md-12">
        <app-worker-item *ngFor="let worker of workers" [worker]="worker">
        </app-worker-item>
      </div>
    </div>

    <div class="row bottom-pagination">
      <div class="col-md-12">
        {{workers.lenght}}
        <ngb-pagination (pageChange)="pageChanged($event)"
                        [rotate]="true"
                        [pageSize]="size"
                        [maxSize]='10'
                        [collectionSize]="totalNumber"
                        [(page)]="page"
                        [directionLinks]="false">
        </ngb-pagination>
      </div>
    </div>
  </div>

  <div *ngIf="!totalNumber">
    <div class="row justify-content-center">
      <div class="col-md-4 no-results">No Results</div>
    </div>
  </div>
</div>
