$text-font-family: Gotham Medium;

$brand-color: #FFFFFF;
$active-color: #33cb98;
$neutral-color: #000000;

$job-active-color: #1997c6;
$job-inprogress-color: #FF4500;
$job-done-color: #1BC98E;
$job-canceled-color: #E64759;
//#00a4ef;
//#024c61;
//#31A2AC; old
