@import 'global_variables.scss';
// Custome styles of npm libs

// Custom ng-select style

ng-select > div {
  border-radius: 4px !important;
}

select-dropdown .selected.highlighted {
  background-color: $active-color !important;
}

select-dropdown .highlighted {
  background-color: $active-color !important;
}

.below {
  .single {
    height: 35px;
    .value {
      padding-top: 3px;
    }
    .toggle {
      padding-top: 3px;
    }
  }
  .multiple {
    min-height: 35px;
    .option {
      background-color: $active-color;
      color: white;
      padding-top: 3px;
      .deselect-option {
        color: white;
      }
    }
    .value {
      padding-top: 3px;
    }
    .toggle {
      padding-top: 3px;
    }
  }
}
