.details-container {
  background-color: white;
  height: 100vh;
  display: table;
}

.facebook-share {
  background-color: #3B5998;
  width: 25px;
  height: 25px;
}

.job-details-user {
  display: inline-block;
  padding: 5px;
}

.user-on-job {
  cursor: pointer;
}

.apply-button {
  width: 300px;
  margin-top: 10px;
}

.applied-message {
  margin-top: 10px;
  width: 300px;
  text-align: center;
}
