.details-container {
  background-color: white;
  height: 100vh;
  display: table;
}

.facebook-share {
  background-color: #3B5998;
  width: 25px;
  height: 25px;
}

.user-on-job {
  cursor: pointer;
}

.apply-button {
  width: 300px;
  margin-top: 10px;
}

.applied-message {
  margin-top: 10px;
  width: 300px;
  text-align: center;
}

.posted-by {
  display: table;
}

.posted-by-content {
  display: table-cell;
}

.employer-data {
    height:100px;
}
.employer-info {
    width:auto;
    height:100px;
}
.employer-img {
    height:100px;
    width:100px;
    float:left;
}
