<div class="container details-container" *ngIf="job">

  <app-user-menu></app-user-menu>

  <div class="row">

    <div class="col-md-4 padding-10">
      <img [src]="job.imageURL ? job.imageURL : 'assets/images/no-job-picture.png'" width="300px" height="300px"/>
      <button *ngIf="isLogged && isQualified && loggedUser && loggedUser.type=='worker' && isApplied===false" (click)=apply() class="apply-button btn brand-btn">Apply</button>
      <div *ngIf="isApplied" class="applied-message"><span class=" active-color"><b>You Applied</b></span></div>
    </div>

    <div class="col-md-8 padding-10">
      <div class="row padding-5">
        <span class="col-md-3 active-color"><b>Location</b></span><span class="col-md-9">{{job.region}}</span>
      </div>
      <div class="row padding-5">
        <span class="col-md-3 active-color"><b>Profession</b></span><span class="col-md-9">{{job.profession}}</span>
      </div>
      <div class="row padding-5">
        <span class="col-md-3 active-color"><b>Created</b></span><span class="col-md-9">{{job.createdDate | date: medium}}</span>
      </div>
      <div class="row padding-5">
        <span class="col-md-3 active-color"><b>Updated</b></span><span class="col-md-9">{{job.modifiedDate | date: medium}}</span>
      </div>
      <div class="row padding-5">
        <span class="col-md-3 active-color"><b>Description</b></span><span class="col-md-9">{{job.description}}</span>
      </div>
      <div class="row padding-5">
        <span class="col-md-3 active-color"><b>Number of applied</b></span><span class="col-md-9">{{applications.length}}</span>
      </div>
      <div class="row padding-5" *ngIf="employer">
        <span class="col-md-3 active-color"><b>Posted by</b></span>
        <span class="col-md-9 posted-by" *ngIf="isLogged">
          <div class="employer-data">
            <div class="employer-img">
              <img [src]="employer.imageURL" width="100px" height="100px" (click)="openEmployerDetails()"class="user-on-job"/>
            </div>
            <div class="employer-info">
              <div class="row">
                <span class="col-md-4 active-color">Name</span><span class="col-md-8">{{employer.firstName}} {{employer.lastName}}</span>
              </div>
              <div class="row" *ngIf="isAccepted">
                <span class="col-md-4 active-color">Phone</span><span class="col-md-8">{{employer.phone}}</span>
              </div>
              <div class="row">
                <span class="col-md-4 active-color">Posted jobs</span><span class="col-md-8">10</span>
              </div>
            </div>
          </div>
        </span>
        <span class="col-md-9" *ngIf="!isLogged">Log in to see</span>
      </div>
    </div>

  </div>

</div>
