<div class="container details-container" *ngIf="job">
  <div class="row">

    <div class="col-md-4">
      <img [src]="job.imageURL ? job.imageURL : 'assets/images/no-job-picture.png'" width="300px" height="300px"/>
    </div>

    <div class="col-md-8">
      <div class="row padding-5">
        <span class="col-md-3 active-color"><b>Location</b></span><span class="col-md-9">{{job.region}}</span>
      </div>
      <div class="row padding-5">
        <span class="col-md-3 active-color"><b>Created</b></span><span class="col-md-9">{{job.createdDate | date: medium}}</span>
      </div>
      <div class="row padding-5">
        <span class="col-md-3 active-color"><b>Updated</b></span><span class="col-md-9">{{job.modifiedDate | date: medium}}</span>
      </div>
      <div class="row padding-5">
        <span class="col-md-3 active-color"><b>Posted by</b></span><span class="col-md-9">
          <div class="job-details-user">
            <img [src]="user.imageURL" style="margin-top: -15px;" width="100px" height="100px" />
          </div>
          <div class="job-details-user">
            <div><span class="active-color">Name &nbsp;&nbsp;</span>{{user.firstName}} {{user.lastName}}</div>
            <div><span class="active-color">Phone &nbsp;&nbsp;</span>{{user.phone}}</div>
            <div><span class="active-color">Email &nbsp;&nbsp;</span>{{user.email}}</div>
          </div>
        </span>
      </div>
    </div>

  </div>
</div>
