<form (ngSubmit)="changePassword()" [formGroup]="resetPasswordForm" >

  <h3>Change Password</h3>
  <app-input-password formControlName="oldPassword" ngDefaultControl
                      [label]="'Old Password'"
                      [required]="true"
                      [minLength]="8">
  </app-input-password>

  <div formGroupName="newPasswordGroup">
    <app-input-password formControlName="newPassword" ngDefaultControl
      [label]="'New Password'"
      [required]="true"
      [minLength]="8"
      [valid]="resetPasswordForm.controls['newPasswordGroup'].errors?.match">
    </app-input-password>

    <app-input-password formControlName="confirmNewPassword" ngDefaultControl
      [label]="'Confirm New Password'"
      [required]="true"
      [minLength]="8"
      [valid]="resetPasswordForm.controls['newPasswordGroup'].errors?.match">
    </app-input-password>

    Form Valid = {{resetPasswordForm.controls['newPasswordGroup'].valid}}
  </div>

  <div class="row padding-20">
    <div class="col-md-12">
      <div class="float-right">
        <button type="reset" [routerLink]="['/user/profile']" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn brand-btn">Save</button>
      </div>
    </div>
  </div>

</form>
