<form (submit)="filterData()" [formGroup]="filterGroup">
  <nav class="row filter-menu">
    <div class="col-md-2">
      <app-input-select formControlName="type"
                        [options]="types"
                        [required]="true">
      </app-input-select>
    </div>
    <div class="col-md-2">
      <app-input-select formControlName="region"
                        [options]="regions"
                        [required]="true">
      </app-input-select>
    </div>
    <div class="col-md-2">
      <app-input-select formControlName="profession"
                        [options]="professions"
                        [required]="true">
      </app-input-select>
    </div>
    <div class="col-md-2">
      <button class="btn brand-btn">Search</button>
    </div>
  </nav>
</form>
