<div class="padding-10 neutral-color">

  <div class="row">
    <div class="col-md-6">
      <img [src]="employer?.imageURL" height="200px" width="200px"/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-outline-secondary upload-button" (click)="openCropModal()">
        <span class="fa fa-camera"></span>
        <span>Upload Picture</span>
      </button>
    </div>
  </div>
  <form (ngSubmit)="save()" [formGroup]="editForm">
    <app-input-text formControlName="firstName"
                    [label]="'First Name'"
                    [required]="true">
    </app-input-text>
    <app-input-text formControlName="lastName"
                    [label]="'Last Name'"
                    [required]="true">
    </app-input-text>
    <app-input-calendar formControlName="birthday"
                      [label]="'Birthday'"
                      [required]="true"
                      [settings]="calendarSettings">
    </app-input-calendar>
    <app-input-select formControlName="gender"
                      [label]="'Gender'"
                      [options]="options">
    </app-input-select>
    <app-input-text formControlName="phone"
                    [label]="'Phone'"
                    [required]="true">
    </app-input-text>
    <div [ngClass]="{'has-danger': editForm.get('email').errors?.email ? true : false}">
      <app-input-unique formControlName="email"
                        [ignoreValue]="ignoreEmail"
                        [label]="'Email'"
                        [field]="'email'"
                        [required]="true">
      </app-input-unique>
      <span class="error-message" *ngIf="editForm.get('email').errors?.email">
        Invalid email
      </span>
    </div>

    <div class="row padding-20">
      <div class="col-md-12">
        <div class="float-right">
          <button type="reset" [routerLink]="['/employer/profile']" class="btn btn-outline-secondary">Cancel</button>
          <button type="submit" class="btn brand-btn">Save</button>
        </div>
      </div>
    </div>

  </form>

</div>
