<div *ngIf="label" class="padding-top-bottom-10">
  <div class="row">
    <div class="col-md-6 padding-bottom-5">
      <span><b>{{label}}</b></span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div [ngClass]="{'has-danger' : !valid}">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker"
                 [minDate]="settings.minDate"
                 [maxDate]="settings.maxDate"
                 (focus)="clearValidation()"
                 (navigate)="clearValidation()"
                 (blur)="valueChanged()" />
          <div class="input-group-addon" (click)="toggle(d)" >
            <img src="assets/images/icons/icon-calendar.png" style="width: 20px; height: 20px; cursor: pointer;"/>
          </div>
        </div>
        <span class="error-message" *ngIf="!valid" >
          This filed is required
        </span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!label">
  <div [ngClass]="{'has-danger' : !valid}">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker"
             [minDate]="settings.minDate"
             [maxDate]="settings.maxDate"
             (focus)="clearValidation()"
             (blur)="valueChanged()"
             (navigate)="clearValidation($event)" />
      <div class="input-group-addon" (click)="toggle(d)" >
        <img src="assets/images/icons/icon-calendar.png" style="width: 20px; height: 20px; cursor: pointer;"/>
      </div>
    </div>
    <span class="error-message" *ngIf="!valid" >
      This filed is required
    </span>
  </div>
</div>
