@import "global_variables.scss";

.jobs-container {
  border-top: solid $active-color 2px;
}

.jobs-title {
  background-color: white;
}

.top-pagination {
  background-color: white;
}

.bottom-pagination {
  background-color: white;
  margin-top: 15px;
  padding-top: 15px;
}

.no-results {
  margin-top: 50px;
  text-align: center;
}
