@import 'global_variables.scss';

.video-background {
  position: fixed;
   top: 50%;
   left: 50%;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: -100;
   -ms-transform: translateX(-50%) translateY(-50%);
   -moz-transform: translateX(-50%) translateY(-50%);
   -webkit-transform: translateX(-50%) translateY(-50%);
   transform: translateX(-50%) translateY(-50%);
   background-size: cover;
}

.choice-form {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.home-search-form {
  background-color: rgba(255,255,255,0.8);
  border-radius: 5px;
}

.search-title {
  text-align: center;
  margin-top: 20vh;
}

.choice-button {
  text-align: center;
  padding: 10px;
  width: 250px;
  height: 50px;
}

.search-button {
  padding: 25px 20px 20px 20px;
}

.btn-store {
  background-color: black;
  color: white;
}

.choice-container {
    margin-top: 15vh;
}

.form-content {
  margin-top: 80px;
  text-align: center;
  background-color: rgba(255,255,255,0.7);
  border-radius: 10px;
}

.mobile-store-container {
  margin-top: 35vh;
}

.active-tab {
  border: 2px solid white;
  border-radius: 10px;
}

.button-workers {
  margin-left: 20px;
}

.search-label {
  margin-top: 5px;
  color: black;
  float: right;
}
