<video autoplay muted loop class="video-background">
      <source src="assets/Welding.mp4" type="video/mp4">
</video>

<div class="home-content">

  <h1 class="text-color search-title"><b>What are you searching for?</b></h1>

  <div class="form-container">

    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-3 mouse-pointer">
        <div class="search-title padding-10" [ngClass]="{'active-tab':isJobSearch}" (click)='searchJobs(true)'>
          <span><b class="text-color">JOBS</b></span>
        </div>
      </div>

      <div class="col-md-3 mouse-pointer">
        <div class="search-title padding-10" [ngClass]="{'active-tab':!isJobSearch}" (click)='searchJobs(false)'>
          <span><b class="text-color">WORKERS</b></span>
        </div>
      </div>
      <div class="col-md-3">
      </div>
    </div>

    <div class="row">
      <div class="col-md-1">
      </div>

      <div class="col-md-10 form-content">
        <div class="form-group-lg col-md-5 padding-20">
          <div class="col-md-3 padding-10">
            <span class="search-label">Where</span>
          </div>
          <div class="col-md-9" [ngClass]="{'has-error': showMessage(city) }">
            <ng-select
              [items]="cities"
              [(ngModel)]="city"
              [placeholder]="'select city'">
            </ng-select>
            <span class="error-message">{{showMessage(city)}}</span>
          </div>
        </div>
        <div class="form-group-lg col-md-5 padding-20">
          <div class="col-md-3 padding-10">
            <span class="search-label">Profession</span>
          </div>
          <div class="col-md-9" [ngClass]="{'has-error': showMessage(proffesion) }">
            <ng-select
              [items]="professions"
              [(ngModel)]="proffesion"
              [placeholder]="'select profession'">
            </ng-select>
            <span class="error-message">{{showMessage(proffesion)}}</span>
          </div>
        </div>
        <div class="col-md-2 search-button padding-20">
          <button class="btn btn-default btn-lg" (click)='search()'>Search</button>
        </div>
      </div>

      <div class="col-md-1">
      </div>

    </div>
  </div>
</div>
