<video autoplay muted loop class="video-background">
      <source src="assets/Welding.mp4" type="video/mp4">
</video>

<div class="home-content">

  <h1 class="text-color search-title"><b>What are you searching for?</b></h1>

  <div class="form-container">

    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-3 mouse-pointer">
        <div class="search-title padding-10" [ngClass]="{'active-tab':isJobActive}" (click)='TabToggle()'>
          <span><b class="text-color">JOBS</b></span>
        </div>
      </div>

      <div class="col-md-3 mouse-pointer">
        <div class="search-title padding-10" [ngClass]="{'active-tab':!isJobActive}" (click)='TabToggle()'>
          <span><b class="text-color">WORKERS</b></span>
        </div>
      </div>
      <div class="col-md-3">
      </div>
    </div>

    <div class="row">
      <div class="col-md-1">
      </div>

      <div class="col-md-10 form-content">
        <div class="form-group-lg col-md-5 padding-20">
          <div class="col-md-3 padding-10">
            <span class="search-label">Where</span>
          </div>
          <div class="col-md-9">
            <select class="form-control mouse-pointer">
              <option *ngFor='let city of cities;'>
                {{city}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group-lg col-md-5 padding-20">
          <div class="col-md-3 padding-10">
            <span class="search-label">Profession</span>
          </div>
          <div class="col-md-9">
            <select class="form-control mouse-pointer">
              <option *ngFor='let prof of professions'>
                {{prof}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-2 search-button padding-20">
          <button class="btn btn-default btn-lg" (click)='TabToggle()'>Search</button>
        </div>
      </div>

      <div class="col-md-1">
      </div>

    </div>
  </div>
</div>
