<video autoplay muted loop class="video-background">
      <source src="assets/videos/Professions.mp4" type="video/mp4">
</video>
<app-menu></app-menu>
<div class="container">
  <h1 class="text-color search-title"><b>What are you searching for?</b></h1>

  <div class="choice-container">

    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-3 mouse-pointer">
        <button class="btn brand-btn choice-button"><b>JOBS</b></button>
      </div>

      <div class="col-md-3 mouse-pointer">
        <button class="btn brand-btn choice-button"><b>WORKERS</b></button>
      </div>
      <div class="col-md-3">
      </div>
    </div>

    <!-- <div class="row form-content">

        <div class="form-group-lg col-md-5 padding-20">
          <div class="row">
            <div class="col-md-3 padding-10">
              <span class="search-label">Where</span>
            </div>
            <div class="col-md-9 padding-10" [ngClass]="{'has-danger': showMessage(city) }">
              <div class="ng-select-wrapper">
                <ng-select
                  [options]="cities"
                  [(ngModel)]="city"
                  [placeholder]="'select city'">
                </ng-select>
              </div>
              <span class="error-message">{{showMessage(city)}}</span>
            </div>
          </div>
        </div>

        <div class="form-group-lg col-md-5 padding-20">
          <div class="row">
            <div class="col-md-3 padding-10">
              <span class="search-label">Profession</span>
            </div>
            <div class="col-md-9 padding-10" [ngClass]="{'has-danger': showMessage(proffesion) }">
              <div class="ng-select-wrapper">
                <ng-select
                  [options]="professions"
                  [(ngModel)]="proffesion"
                  [placeholder]="'select profession'">
                </ng-select>
              </div>
              <span class="error-message">{{showMessage(proffesion)}}</span>
            </div>
          </div>
        </div>

        <div class="form-group-lg search-button col-md-2">
          <button class="btn btn-secondary" (click)='search()'>Search</button>
        </div>

    </div> -->

  </div>

  <div class="mobile-store-container">

    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
        <button class="btn btn-store float-right">
          <img src="assets/images/playLogo.png" height="30px"/>
          <b>Comming soon</b>
        </button>
      </div>

      <div class="col-md-3">
        <button class="btn btn-store float-left">
          <img src="assets/images/appleLogo.png" height="30px"/>
          <b>Comming soon</b>
        </button>
      </div>
      <div class="col-md-3">
      </div>
    </div>

  </div>
</div>
