<div class="container">

  <app-user-menu></app-user-menu>

  <div class="row details-container" *ngIf="job">

    <div class="col-md-4 padding-10">
      <img [src]="job.imageURL ? job.imageURL : 'assets/images/no-job-picture.png'" width="300px" height="300px"/>
      <button *ngIf="isLogged && !isApplied && loggedUser && loggedUser.type=='worker'" (click)=apply() class="apply-button btn brand-btn">Apply</button>
      <div *ngIf="isApplied" class="applied-message"><span class=" active-color"><b>You Applied</b></span></div>
    </div>

    <div class="col-md-8 padding-10">
      <div class="row padding-5">
        <span class="col-md-3 active-color"><b>Location</b></span><span class="col-md-9">{{job.region}}</span>
      </div>
      <div class="row padding-5">
        <span class="col-md-3 active-color"><b>Profession</b></span><span class="col-md-9">{{job.profession}}</span>
      </div>
      <div class="row padding-5">
        <span class="col-md-3 active-color"><b>Created</b></span><span class="col-md-9">{{job.createdDate | date: medium}}</span>
      </div>
      <div class="row padding-5">
        <span class="col-md-3 active-color"><b>Updated</b></span><span class="col-md-9">{{job.modifiedDate | date: medium}}</span>
      </div>
      <div class="row padding-5">
        <span class="col-md-3 active-color"><b>Description</b></span><span class="col-md-9">{{job.description}}</span>
      </div>
      <div class="row padding-5" *ngIf="user">
        <span class="col-md-3 active-color"><b>Posted by</b></span>
        <span class="col-md-9" *ngIf="isLogged">
          <div class="job-details-user">
            <img [src]="user.imageURL" style="margin-top: -15px;" width="100px" height="100px" (click)="openEmployerDetails()"class="user-on-job"/>
          </div>
          <div class="job-details-user">
            <div class="row"><span class="col-md-3 active-color">Name</span><span class="col-md-9">{{user.firstName}} {{user.lastName}}</span></div>
            <div class="row"><span class="col-md-3 active-color">Phone</span><span class="col-md-9">{{user.phone}}</span></div>
            <div class="row"><span class="col-md-3 active-color">Email</span><span class="col-md-9">{{user.email}}</span></div>
          </div>
        </span>
        <span class="col-md-9" *ngIf="!isLogged">Log in to see</span>
      </div>
      <div class="row padding-5">
        <span class="col-md-3 active-color"><b>Number of applied</b></span><span class="col-md-9">{{10}}</span>
      </div>
    </div>

  </div>
  <div class="row details-container justify-content-center">
    <div class="col-md-11 active-color candidates-hr">
    </div>
  </div>

  <div class="row details-container justify-content-center" *ngIf="job">
    <div class="col-md-11">
      <h3 class="float-left padding-top-bottom-20 active-color">Candidates</h3>
    </div>
  </div>

  <div *ngIf="totalNumber">
    <div class="row top-pagination">
      <div class="col-md-12 padding-top-15">
        <ngb-pagination (pageChange)="pageChanged($event)"
                        [rotate]="true"
                        [pageSize]="size"
                        [maxSize]='10'
                        [collectionSize]="totalNumber"
                        [(page)]="page"
                        [directionLinks]="false">
        </ngb-pagination>
      </div>
    </div>

    <app-your-job *ngFor="let candidate of candidates" [candidate]="candidate"
                  (onDelete)="removeJobFromList($event)">
    </app-your-job>

    <div class="row bottom-pagination">
      <div class="col-md-12">
        <ngb-pagination (pageChange)="pageChanged($event)"
                        [rotate]="true"
                        [pageSize]="size"
                        [maxSize]='10'
                        [collectionSize]="totalNumber"
                        [(page)]="page"
                        [directionLinks]="false">
        </ngb-pagination>
      </div>
    </div>
  </div>

  <div *ngIf="!totalNumber">
    <div class="row justify-content-center no-candidates details-container">
      <div class="col-md-4 no-results content-center">Still no one has applied :-(</div>
    </div>
  </div>


</div>
