<div class="row padding-10">
  <div class="col-md-6">
    <img src="assets/no-profile-pic.png" height="200px" width="200px"/>
  </div>
  <div class="col-md-6">
    <div class="float-right">
      <button class="btn btn-default btn-large"
              [routerLink]="['/user/profile/edit']">
        <span class="glyphicon glyphicon-edit"></span>
        <span>Edit</span>
      </button>
      <button class="btn btn-default btn-large"
              [routerLink]="['/user/profile/password']">
        <span class="glyphicon glyphicon-link"></span>
        <span>Reset password</span>
      </button>
      <button class="btn btn-default btn-large"
              (click)="openModal()">
        <span class="glyphicon glyphicon-sunglasses"></span>
        <span>Hide my profile</span>
      </button>
    </div>
  </div>
</div>

<app-confirm-modal (onSubmit)="hideProfile($event)"></app-confirm-modal>

<div *ngIf="user">

  <div class="row">
    <span class="col-md-3 profile-label"><b>Full Name</b></span>
    <span class="col-md-9 profile-data">{{user.firstName + " " + user.lastName}}</span>
  </div>

  <div class="row">
    <span class="col-md-3 profile-label"><b>Gender</b></span>
    <span class="col-md-9 profile-data">{{user.gender}}</span>
  </div>

  <div class="row">
    <span class="col-md-3 profile-label"><b>Birthday</b></span>
    <span class="col-md-9 profile-data">{{user.birth}}</span>
  </div>

  <div class="row">
    <span class="col-md-3 profile-label"><b>Phone</b></span>
    <span class="col-md-9 profile-data">{{user.phone}}</span>
  </div>

  <div class="row">
    <span class="col-md-3 profile-label"><b>Email</b></span>
    <span class="col-md-9 profile-data">{{user.email}}</span>
  </div>

  <div class="row">
    <span class="col-md-3 profile-label"><b>Username</b></span>
    <span class="col-md-9 profile-data">{{user.username}}</span>
  </div>

  <div *ngIf="user.profession">
    <div class="row">
      <span class="col-md-3 profile-label"><b>Profession</b></span>
      <span class="col-md-9 profile-data">Filip Djordjevic</span>
    </div>

    <div class="row">
      <span class="col-md-3 profile-label"><b>Locations that you cover</b></span>
      <span class="col-md-9 profile-data">Filip Djordjevic</span>
    </div>

    <div class="row">
      <span class="col-md-3 profile-label"><b>Resume</b></span>
      <span class="col-md-9 profile-data">Filip Djordjevic</span>
    </div>
  </div>

</div>
