<div class="row job-item">

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        <img [src]="job.imageURL ? job.imageURL : 'assets/images/no-job-picture.png'" (click)="openJobDetails()"class="job-item-image"/>
      </div>
      <div class="col-md-7">
        <div class="row">
          {{job.region}}
        </div>
        <div class="row">
          Posted: {{job.createdDate | date: medium}}
        </div>
        <div class="row">
          {{job.profession}}
        </div>
        <div class="row">
          {{job.description}}
        </div>
      </div>
      <div class="col-md-2 delete-job">
        <div class="row">
          <div class="col-md-12 padding-5">
            <button (click)="openEditJobModal()" class="btn btn-outline-secondary float-right">
              <span class="fa fa-pencil-square-o"></span>
              <span> Edit</span>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 padding-5">
            <button (click)="openDeleteJobModal()" class="btn btn-outline-secondary float-right">
              <span class="fa fa-ban"></span>
              <span> Cancel</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
