@import "global_variables.scss";

.main-menu {
  background-color: rgba(255,255,255,0.8);
}

.left-menu {
  text-align: left;
  margin-top: 10px;
}

.center-menu {
  text-align: center;
  margin-top: 5px;
}

.right-menu {
  text-align: right;
  margin-top: 5px;
}

.menu-item {
  padding: 10px;
  cursor: pointer;
}

nav a {
	position: relative;
	display: inline-block;
	margin: 0px 10px;
	outline: none;
	color: black;
	text-decoration: none;
	letter-spacing: 1px;
  &:hover {
    color: $active-color;
  }
}

nav a:hover,
nav a:focus {
	outline: none;
}

.cl-effect-4 a {
	padding: 5px 0px 10px 0px;
}

.cl-effect-4 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: $active-color;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after {
	height: 3px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
