.left-menu {
  text-align: left;
  margin-top: 10px;
}

.center-menu {
  text-align: center;
  margin-top: 10px;
}

.right-menu {
  text-align: right;
  margin-top: 10px;
}

.menu-item {
  padding: 10px;
  cursor: pointer;
}
