<div class="container-fluid main-menu">
  <div class="row">

    <div class="col-md-4">
      <nav class="cl-effect-4 float-left">
        <img src="assets/images/profesionalci-logo-white.png" height="50px" width="50px" [routerLink]="['']"/>
      </nav>
    </div>

    <div class="col-md-4 center-menu ">
      <nav class="cl-effect-4">
        <a [routerLink]="['/user/signup/worker']">Offer Services</a>
        <a [routerLink]="['/user/signup/employer']">Offer Jobs</a>
      </nav>
    </div>

    <div class="col-md-4 right-menu">
      <nav class="cl-effect-4">
        <a>About</a>
        <a [routerLink]="['/user/signup']"><span>Join Us</span></a>
        <a [routerLink]="['/user/login']"><span>Log In</span></a>
      </nav>
    </div>

  </div>
</div>
