<div class="col text-right">
  <div placement="bottom-right" class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
    <div>
      <img [src]="user?.imageURL" height="30px" width="30px" id="dropdownManual" ngbDropdownToggle/>
      <div class="caret-style fa fa-caret-down"></div>
    </div>
    <div ngbDropdownMenu aria-labelledby="dropdownManual" class="dropdown-menu-right">
      <div class="drop-menu-item" (click)="openPasswordModal()">Change Password</div>
      <div class="drop-menu-item" (click)="logOut()">Log out</div>
    </div>
  </div>
</div>
