<div *ngIf="label" class="padding-top-bottom-10">

  <div class="row">
    <div class="col-md-6 padding-bottom-5">
      <span><b>{{label}}</b></span>
    </div>
  </div>

  <div class="row" [ngClass]="{'has-error': !valid}">
    <div class="col-md-6">
      <textarea class="col-md-12 form-control"
              rows="4"
              [(ngModel)]="model"
              (focus)="clearValidation()"
              (blur)="valueChanged()"></textarea>
      <span class="error-message" *ngIf="!valid">
        This field is required
      </span>
    </div>
  </div>

</div>

<div *ngIf="!label" [ngClass]="{'has-error': !valid}">
  <textarea class="col-md-12 form-control"
        rows="4"
        [(ngModel)]="model"
        (focus)="clearValidation()"
        (blur)="valueChanged()"></textarea>
  <span class="error-message" *ngIf="!valid">
    This field is required
  </span>
</div>
