<div class="row padding-10">

  <div class="row">
    <div class="col-md-6">
      <img src="assets/no-profile-pic.png" height="200px" width="200px"/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-default upload-button">
        <span class="glyphicon glyphicon-camera"></span>
        <span>Upload Picture</span>
      </button>
    </div>
  </div>
  <form (ngSubmit)="editSave()" #editUserForm="ngForm">
    <app-input-text [label]="'First Name'"
                    [required]="true">
    </app-input-text>
    <app-input-text [label]="'Last Name'"
                    [required]="true">
    </app-input-text>
    <app-input-select [label]="'Gender'"
                      [options]="options">
    </app-input-select>
    <app-input-calendar [label]="'Birthday'"
                    [model]="user.birth">
    </app-input-calendar>
    <app-input-text [label]="'Phone'"
                    [required]="true">
    </app-input-text>
    <app-input-text [label]="'Email'"
                    [required]="true">
    </app-input-text>

    <div class="row padding-20">
      <div class="col-md-12">
        <div class="float-right">
          <button [routerLink]="['/user/profile']" class="btn btn-default">Cancel</button>
          <button class="btn brand-btn">Save</button>
        </div>
      </div>
    </div>

  </form>

</div>
