<div>
  Worker details
</div>
<div *ngIf="worker">

  <div class="row">
    <span class="col-md-3 profile-label"><b>Full Name</b></span>
    <span class="col-md-9 profile-data">{{worker.firstName + " " + worker.lastName}}</span>
  </div>

  <div class="row">
    <span class="col-md-3 profile-label"><b>Gender</b></span>
    <span class="col-md-9 profile-data">{{worker.gender}}</span>
  </div>

  <div class="row">
    <span class="col-md-3 profile-label"><b>Birthday</b></span>
    <span class="col-md-9 profile-data">{{worker.birthday | date: medium}}</span>
  </div>

  <div class="row">
    <span class="col-md-3 profile-label"><b>Phone</b></span>
    <span class="col-md-9 profile-data">{{worker.phone}}</span>
  </div>

  <div class="row">
    <span class="col-md-3 profile-label"><b>Email</b></span>
    <span class="col-md-9 profile-data">{{worker.email}}</span>
  </div>

  <div class="row">
    <span class="col-md-3 profile-label"><b>Profession</b></span>
    <span class="col-md-9 profile-data">{{worker.profession}}</span>
  </div>

  <div class="row">
    <span class="col-md-3 profile-label"><b>Regions</b></span>
    <span class="col-md-9 profile-data">{{worker.region}}</span>
  </div>

  <div class="row">
    <span class="col-md-3 profile-label"><b>Description</b></span>
    <span class="col-md-9 profile-data">{{worker.description}}</span>
  </div>


</div>
