<div class="container details-container" *ngIf="worker">
  <div class="row">

    <div class="col-md-4">
      <img [src]="worker.imageURL" width="300px" height="300px"/>
    </div>

    <div class="col-md-8">
      <div class="row padding-5">
        <span class="col-md-3 active-color"><b>Name</b></span><span class="col-md-9">{{worker.firstName + " " + worker.lastName}}</span>
      </div>
      <div class="row padding-5">
        <span class="col-md-3 active-color"><b>Age</b></span><span class="col-md-9">{{worker.birthday | date: medium}}</span>
      </div>
      <div class="row padding-5">
        <span class="col-md-3 active-color"><b>Phone</b></span><span class="col-md-9">{{worker.phone}}</span>
      </div>
      <div class="row padding-5">
        <span class="col-md-3 active-color"><b>Email</b></span><span class="col-md-9">{{worker.email}}</span>
      </div>
      <div class="row padding-5">
        <span class="col-md-3 active-color"><b>Profession</b></span><span class="col-md-9">{{worker.profession}}</span>
      </div>
      <div class="row padding-5">
        <span class="col-md-3 active-color"><b>Regions</b></span><span class="col-md-9">{{worker.region}}</span>
      </div>
      <div class="row padding-5">
        <span class="col-md-3 active-color"><b>Resume</b></span><span class="col-md-9">{{worker.description}}</span>
      </div>
    </div>

  </div>

  <div class="row padding-10">
    <div class="facebook-share"><img src="assets/images/facebook-logo-white.png" width="25px" height="25px"/></div>
  </div>
</div>
