@import "global_variables.scss";

.profile-container {
  background-color: white;
  height: 100vh;
  display: table;
}

.menu-item {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  float: right;
  font-size: 20px;
  color: white;
}

.user-menu-container {
  background-color: $brand-color;
}

.active-menu-item {
  border-bottom: 2px solid white;
}

.menu-item:hover {
  font-weight: 900;
}

.user-menu {
  float: right;
  padding: 10px 0px 0px 0px;
}
