<form (ngSubmit)="submit()" [formGroup]="postJobForm">
  <div class="modal-header">
    <h4 class="modal-title">Post New  Job</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <app-input-select formControlName="region" ngDefaultControl
                      [label]="'Regions'"
                      [options]="regions"
                      [required]="true">
    </app-input-select>
    <app-input-select formControlName="profession" ngDefaultControl
                      [label]="'Profession'"
                      [options]="professions"
                      [required]="true">
    </app-input-select>
    <app-text-area formControlName="description" ngDefaultControl
                   [label]="'Description'"
                   [required]="true">
    </app-text-area>

  </div>
  <div class="modal-footer">
    <button type="reset" (click)="close()" class="btn btn-secondary">Cancel</button>
    <button type="submit" class="btn brand-btn">Post</button>
  </div>
</form>
