@import "global_variables.scss";

.pickrole-container {
  height: calc( 100vh );
  width: 100%;
  background: url(assets/images/pickRole.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.pick-role-form {
  display: table;
  position: absolute;
  left: 38vw;
  top: 25vh;
  width: 24vw;
  height: 150px;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
}

.pick-role-title {
  color: $brand-color;
}

.worker-role-left {
  padding: 20px 40px;
  border-right: 1px solid $brand-color;
}

.employer-role-right {
  padding: 20px 40px;
  border-right: 1px solid $brand-color;
}
