<div class="pickrole-container">
  <app-menu></app-menu>

  <div class="pick-role-form">

    <div class="row justify-content-md-center padding-top-bottom-10">
      <h5>Please chouse your role</h5>
    </div>

    <div class="row padding-top-bottom-10">

      <div class="col-md-6 worker-role">
        <button [routerLink]="['/user/signup/facebook_worker']" class="btn btn-secondary full-width">
          <span>Worker</span>
        </button>
      </div>


      <div class="col-md-6 employer-role">
        <button [routerLink]="['/user/signup/facebook_employer']" class="btn btn-secondary full-width">
          <span>Employer</span>
        </button>
      </div>

    </div>

  </div>

</div>
