<div *ngIf="label" class="padding-top-bottom-10">
  <div class="row">
    <div class="col-md-6 padding-bottom-5">
      <span><b>{{label}}</b></span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="ng-select-wrapper" [ngClass]="{'input-error' : !valid, 'input-warning' : maxLimit}">
        <ng-select
          #selectControl
          [options]="options"
          [(ngModel)]="selected"
          (opened)="opened(selectControl)"
          (closed)="closed()"
          (deselected)="deselected()"
          [ngModelOptions]="{standalone: true}"
          [multiple]="true">
        </ng-select>
      </div>
      <span class="error-message" *ngIf="!valid" >
        This filed is required
      </span>
      <span class="warning-message" *ngIf="valid && maxLimit" >
        Select maximum {{max}}
      </span>
    </div>
  </div>
</div>

<!-- no label => no control style -->
<div *ngIf="!label">
  <div class="ng-select-wrapper" [ngClass]="{'input-error' : !valid, 'input-warning' : maxLimit}">
    <ng-select
      #selectControl
      [options]="options"
      [(ngModel)]="selected"
      (opened)="opened(selectControl)"
      (closed)="closed()"
      (deselected)="deselected()"
      [ngModelOptions]="{standalone: true}"
      [multiple]="true">
    </ng-select>
  </div>
  <span class="error-message" *ngIf="!valid" >
    This filed is required
  </span>
  <span class="warning-message" *ngIf="valid && maxLimit" >
    Select maximum {{max}}
  </span>

</div>
