<div class="login-container">
  <div class="login-form">

    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6 facebook-wrapper">
        <button class="btn btn-primary facebook-button">Log in with Facebook</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr class="hr-divider"/>
        <span class="divider-text">Or</span>
      </div>
    </div>

    <div class="row padding-top-bottom-10">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <input class="col-md-12 form-control" type="text" placeholder="Username"/>
      </div>
    </div>

    <div class="row padding-top-bottom-10">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <input class="col-md-12 form-control" type="password" placeholder="Password" />
      </div>
    </div>

    <div class="row padding-top-bottom-10">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary login-button">Log in</button>
      </div>
    </div>

    <div class="row padding-top-bottom-10">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <a class="pull-left mouse-pointer">Forgot password?</a>
      </div>
    </div>

  </div>
</div>
