.login-container {
  height: calc( 100vh );
  width: 100%;
  background: url(assets/images/cleaning.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.login-content {
  top: 30vh;
  height: 330px;
}

.log-wrapper {
    position: absolute;
    left: 38vw;
    top: 30vh;
}

.login-form {
  display: table;
  position: absolute;
  width: 24vw;
  height: 310px;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
}

.create-form {
  display: table;
  position: absolute;
  top: 350px;
  width: 24vw;
  height: 54px;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
}

.facebook-wrapper {
  padding-top: 30px;
}

.facebook-button {
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #3B5998;
  width: 100%;
}

.hr-divider {
  margin-bottom: 0px;
}
