<div class="login-container">
  <app-menu></app-menu>
  <div class="log-wrapper">
    <div class="login-form">

      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6 facebook-wrapper">
          <button (click)="loginWithFacebook()" class="btn btn-primary facebook-button">Log in with Facebook</button>
          <div>
            <span class="error-message" *ngIf="noFacebookAccount">You don't have account, please signup with facebook</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <hr class="hr-divider"/>
          <span class="divider-text">Or</span>
        </div>
      </div>

      <form (ngSubmit)="login()" #loginForm="ngForm">

        <div class="row padding-top-bottom-10">
          <div class="col-md-3">
          </div>
          <div class="col-md-6">
            <input class="col-md-12 form-control"
                    [ngClass]="{'input-error': ((!usernameControl.valid && usernameControl.touched) || badCredentials)}"
                    type="text"
                    name="username"
                    [(ngModel)]="username"
                    #usernameControl="ngModel"
                    placeholder="Username"
                    required
                    minlength="3"/>
            <span class="error-message" *ngIf="usernameControl.touched && usernameControl.errors?.required">
              Username is required
            </span>
            <span class="error-message" *ngIf="usernameControl.touched && usernameControl.errors?.minlength">
              Minlength for username is 3
            </span>
          </div>
        </div>

        <div class="row padding-top-bottom-10">
          <div class="col-md-3">
          </div>

          <div class="col-md-6">
            <input class="col-md-12 form-control"
                  [ngClass]="{'input-error': ((!passwordControl.valid && passwordControl.touched) || badCredentials)}"
                  type="password"
                  name="password"
                  [(ngModel)]="password"
                  #passwordControl="ngModel"
                  placeholder="Password"
                  required
                  minlength="6"/>
            <span class="error-message" *ngIf="passwordControl.touched && passwordControl.errors?.required">
              Password is required
            </span>
            <span class="error-message" *ngIf="passwordControl.touched && passwordControl.errors?.minlength">
              Minlength for password is 6
            </span>
            <span class="error-message" *ngIf="badCredentials">
              Wrong password or wrong username. Try again.
            </span>
          </div>
        </div>

        <div class="row padding-top-bottom-10">
          <div class="col-md-3">
          </div>
          <div class="col-md-6">
            <button type="submit" [disabled]="!loginForm.valid" class="btn brand-btn full-width">Log in</button>
          </div>
        </div>

      </form>

      <div class="row padding-top-bottom-10">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <a class="pull-left mouse-pointer active-color" [routerLink]="['/user/resetpassword']">Forgot password?</a>
        </div>
      </div>

    </div>

    <div class="create-form">
      <div class="row padding-top-bottom-10">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <button [routerLink]="['/user/signup']" class="btn brand-btn full-width">Create Account</button>
        </div>
      </div>
    </div>
  </div>
</div>
