<div class="login-container">
  <app-menu></app-menu>
  <div class="log-wrapper">
    <div class="login-form" *ngIf="!resetForm">

      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6 facebook-wrapper">
          <button class="btn btn-primary facebook-button">Log in with Facebook</button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <hr class="hr-divider"/>
          <span class="divider-text">Or</span>
        </div>
      </div>

      <form (ngSubmit)="login()" #loginForm="ngForm">

        <div class="row padding-top-bottom-10">
          <div class="col-md-3">
          </div>
          <div class="col-md-6" [ngClass]="{'has-error': !usernameControl.valid && usernameControl.touched}">
            <input  class="col-md-12 form-control"
                    type="text"
                    name="username"
                    [(ngModel)]="username"
                    #usernameControl="ngModel"
                    placeholder="Username"
                    required
                    minlength="3"/>
            <span class="error-message" *ngIf="usernameControl.touched && usernameControl.errors?.required">
              Username is required
            </span>
            <span class="error-message" *ngIf="usernameControl.touched && usernameControl.errors?.minlength">
              Minlength for username is 3
            </span>
          </div>
        </div>

        <div class="row padding-top-bottom-10">
          <div class="col-md-3">
          </div>

          <div class="col-md-6" [ngClass]="{'has-error': !passwordControl.valid && passwordControl.touched}">
            <input  class="col-md-12 form-control"
                  type="password"
                  name="password"
                  [(ngModel)]="password"
                  #passwordControl="ngModel"
                  placeholder="Password"
                  required
                  minlength="6"/>
            <span class="error-message" *ngIf="passwordControl.touched && passwordControl.errors?.required">
              Password is required
            </span>
            <span class="error-message" *ngIf="passwordControl.touched && passwordControl.errors?.minlength">
              Minlength for password is 6
            </span>
          </div>
        </div>

        <div class="row padding-top-bottom-10">
          <div class="col-md-3">
          </div>
          <div class="col-md-6">
            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary login-button">Log in</button>
          </div>
        </div>

      </form>

      <div class="row padding-top-bottom-10">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <a class="pull-left mouse-pointer" (click)="resetForm = true">Forgot password?</a>
        </div>
      </div>

    </div>

    <div class="reset-form" *ngIf="resetForm">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6 padding-top-10">
          <span class="float-left"><b>Email</b></span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6 padding-bottom-10" [ngClass]="{'has-error': !emailControl.valid && emailControl.touched}">
          <input  class="col-md-12 form-control"
                type="<strong>email</strong>"
                name="email"
                [(ngModel)]="email"
                #emailControl="ngModel"
                required
                minlength="6"
                pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" />
          <span class="error-message" *ngIf="emailControl.touched && emailControl.errors?.required">
            Email is required
          </span>
          <span class="error-message" *ngIf="emailControl.touched && !emailControl.errors?.required && !emailControl.valid">
            Invalid email
          </span>
        </div>
      </div>

      <div class="row padding-top-bottom-10">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <button class="btn btn-primary login-button" (click)=resetPassword()>Reset password</button>
        </div>
      </div>
      <div class="row padding-top-bottom-10">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <button class="btn btn-default login-button" (click)="resetForm = false">Return to login</button>
        </div>
      </div>
    </div>

    <div class="create-form" *ngIf="!resetForm">
      <div class="row padding-top-bottom-10">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <button [routerLink]="['/user/signup']" class="btn btn-primary login-button">Create Account</button>
        </div>
      </div>
    </div>
  </div>
</div>
