<div class="login-container">
  <app-menu></app-menu>
  <div class="log-wrapper">

    <div class="reset-form">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6 padding-top-10">
          <span class="float-left"><b>Email</b></span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6 padding-bottom-10" [ngClass]="{'has-error': !emailControl.valid && emailControl.touched}">
          <input  class="col-md-12 form-control"
                type="<strong>email</strong>"
                name="email"
                [(ngModel)]="email"
                #emailControl="ngModel"
                required
                minlength="6"
                pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" />
          <span class="error-message" *ngIf="emailControl.touched && emailControl.errors?.required">
            Email is required
          </span>
          <span class="error-message" *ngIf="emailControl.touched && !emailControl.errors?.required && !emailControl.valid">
            Invalid email
          </span>
        </div>
      </div>

      <div class="row padding-top-bottom-10">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <button class="btn btn-primary full-width" (click)=resetPassword()>Reset password</button>
        </div>
      </div>
      <div class="row padding-top-bottom-10">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <button class="btn btn-default full-width" [routerLink]="['/user/login']">Return to login</button>
        </div>
      </div>
    </div>

    <div class="success-form" *ngIf="resetSuccess">
      <h4 class="padding-20">New password is sent to your email</h4>
      <div class="row padding-top-bottom-10">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <button class="btn btn-default full-width" [routerLink]="['/user/login']">Return to login</button>
        </div>
      </div>
    </div>

  </div>
</div>
