<div class="signup-container">
  <div *ngIf="!isManual" class="signup-form">

    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6 facebook-wrapper-signup">
        <button class="btn btn-primary facebook-button-signup">
          <img src="assets/facebook-logo-white.png" class="pull-left" height="20px" width="20px"/>
          <span>Sign up with Facebook</span>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr class="hrs-divider"/>
        <span class="divider-text">Or</span>
      </div>
    </div>

    <div class="row email-wrapper">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <button (click)="signupManual()" class="btn btn-default google-button">
          <span class="float-left glyphicon glyphicon-envelope"></span>
          <span>Sign up</span>
        </button>
      </div>
    </div>

    <div class="row padding-top-bottom-10">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <span>Already have an account?</span>
        <span><button class="btn btn-default">Log in</button></span>
      </div>
    </div>

  </div>

  <div *ngIf="isManual">
    <app-manual-signup></app-manual-signup>
  </div>
</div>
