<div class="signup-container">
  <app-menu></app-menu>
  <div class="signup-form">

    <div class="row justify-content-md-center">
      <div class="col-md-6 facebook-wrapper-signup">
        <app-facebook-signup></app-facebook-signup>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr class="hrs-divider"/>
        <span class="divider-text neutral-color">Or</span>
      </div>
    </div>

    <div class="row justify-content-md-center email-wrapper">
      <div class="col-md-6">
        <button [routerLink]="['/user/signup/role']" class="btn brand-btn google-button">
          <span class="float-left fa fa-envelope-o"></span>
          <span>Sign up with email</span>
        </button>
      </div>
    </div>

    <div class="row justify-content-md-center padding-top-bottom-10">
      <div class="col-md-10">
        <span class="neutral-color">Already have an account?</span>
        <span><button [routerLink]="['/user/login']" class="btn brand-btn">Log in</button></span>
      </div>
    </div>

  </div>

</div>
