<form (ngSubmit)="submit()" [formGroup]="editJobForm">
  <div class="modal-header">
    <h4 class="modal-title">Edit Job</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-input-select formControlName="region"
                      [label]="'Region'"
                      [options]="regions"
                      [required]="true">
    </app-input-select>
    <app-input-select formControlName="profession"
                      [label]="'Profession'"
                      [options]="professions"
                      [required]="true">
    </app-input-select>
    <app-text-area formControlName="description"
                   [label]="'Description'"
                   [required]="true">
    </app-text-area>
  </div>
  <div class="modal-footer">
    <button (click)="close()" class="btn btn-secondary">Cancel</button>
    <button type="submit" class="btn brand-btn">Save</button>
  </div>
</form>
