@import 'global_variables.scss';

.logo-spinner {
  position: fixed;
  top: 45vh;
  left: 48vw;
  width: 60px;
  height: 60px;
  z-index: 101;
  animation: rotate 1.6s infinite ease-in-out, background 1.6s infinite ease-in-out alternate;
}

@keyframes rotate {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(0deg) rotateY(180deg);
  }
  100% {
    transform: perspective(120px) rotateX(0deg) rotateY(360deg);
  }
}

.loader-background {
  position: fixed;
  width: 99vw;
  height: 100vh;
  background-color: rgba(9, 39, 70, 0.5);
  left: 0px;
  top: 0px;
  z-index: 100;
}
