<div class="pickrole-container">
  <app-menu></app-menu>

  <div class="pick-role-form">

    <div class="row justify-content-md-center pick-role-title padding-top-bottom-10">
      <h5>Please chouse your role</h5>
    </div>

    <div class="row padding-top-bottom-10">

      <div class="col-md-6 worker-role-left brand-color">
        <button [routerLink]="['/user/signup/worker']" class="btn brand-btn full-width">
          <span>Worker</span>
        </button>
        <div class="padding-top-20"><span>Find job</span></div>
        <div><span>Add your services</span></div>
        <div><span>Become available in your region</span></div>
        <div><span>Build career</span></div>
        <div><span>Rate employers</span></div>
      </div>

      <div class="col-md-6 employer-role-right brand-color">
        <button [routerLink]="['/user/signup/employer']" class="btn brand-btn full-width">
          <span>Employer</span>
        </button>
        <div class="padding-top-20"><span>Find workers</span></div>
        <div><span>Post jobs</span></div>
        <div><span>Build business</span></div>
        <div><span>Follow competition</span></div>
        <div><span>Rate workers</span></div>
      </div>

    </div>

  </div>

</div>
