@import "global_variables.scss";

.job-wrapper {
  margin: 20px;
  border-bottom: solid $active-color 2px;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.delete-job {
  padding: 17px 5px;
}
