<form (ngSubmit)="submit()" [formGroup]="reviewForm">
  <div class="modal-header">
    <h4 class="modal-title">Move Job to Done</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div *ngFor="let candidate of reviewedCandidates">
      <div class="row">
        <div class="col-md-12">
          <div class="review-input">
            <span>You have already gave review to {{candidate.firstName + " " + candidate.lastName}}</span>
          </div>
        </div>
      </div>
    </div>

    <div *ngFor="let candidate of candidatesToReview; let i=index;">
      <div class="row">
        <div class="col-md-12">
          <div class="padding-10">
            <span>{{candidate.firstName + " " + candidate.lastName}}</span>
          </div>
          <div class="padding-10">
            <span>Would you recomend him?</span>
          </div>
          <div class="thumbs">
            <span class="padding-10 fa fa-thumbs-up" [ngClass]="{'active-thumb' : isUp[i]===true}" (click)="isUp[i]=true"></span>
            <span class="padding-10 fa fa-thumbs-down" [ngClass]="{'active-thumb' : isUp[i]===false}" (click)="isUp[i]=false"></span>
          </div>
          <div class="padding-10 error-select-message" *ngIf="isUp[i]!==true && isUp[i]!==false && isSubmited">Please select one</div>
          <div class="padding-10">
            <span>How satisfy you were with him?</span>
          </div>
          <div class="review-input">
            <app-text-area [formControlName]="'candidate' + i" ngDefaultControl
                         [required]="true">
            </app-text-area>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button (click)="close()" class="btn btn-outline-secondary">Cancel</button>
    <button type="submit" class="btn brand-btn">Done</button>
  </div>
</form>
