<div class="container">

  <app-user-menu></app-user-menu>

  <div class="row details-container" *ngIf="job">

    <div class="col-md-4 padding-10">
      <img [src]="job.imageURL ? job.imageURL : 'assets/images/no-job-picture.png'" width="300px" height="300px"/>
      <button *ngIf="isLogged && !isApplied && loggedUser && loggedUser.type=='worker'" (click)=apply() class="apply-button btn brand-btn">Apply</button>
      <div *ngIf="isApplied" class="applied-message"><span class=" active-color"><b>You Applied</b></span></div>
    </div>

    <div class="col-md-8 padding-10">

      <div class="row">
        <div class="col-md-8">
          <div class="row padding-5">
            <span class="col-md-3 active-color"><b>Location</b></span><span class="col-md-9">{{job.region}}</span>
          </div>
          <div class="row padding-5">
            <span class="col-md-3 active-color"><b>Profession</b></span><span class="col-md-9">{{job.profession}}</span>
          </div>
          <div class="row padding-5">
            <span class="col-md-3 active-color"><b>Created</b></span><span class="col-md-9">{{job.createdDate | date: medium}}</span>
          </div>
          <div class="row padding-5">
            <span class="col-md-3 active-color"><b>Updated</b></span><span class="col-md-9">{{job.modifiedDate | date: medium}}</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row action-button justify-content-end" *ngIf="acceptedCandidates.length">
            <button class="btn btn-outline-secondary" (click)="openDoneJobModal()"><span class="fa fa-check-square-o"></span> Done</button>
          </div>
          <div class="row action-button justify-content-end">
            <button class="btn btn-outline-secondary" (click)="openEditJobModal()"><span class="fa fa-pencil-square-o"></span> Edit</button>
          </div>
          <div class="row action-button justify-content-end" *ngIf="job.status !== 'inprogress'">
            <button class="btn btn-outline-secondary" (click)="openCancelJobModal()"><span class="fa fa-ban"></span> Cancel</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="row padding-5">
            <span class="col-md-3 active-color"><b>Status</b></span><span class="col-md-9">{{job.status == "inprogress" ? "In Progress" : "Active"}}</span>
          </div>
          <div class="row padding-5">
            <span class="col-md-3 active-color"><b>Description</b></span><span class="col-md-9">{{job.description}}</span>
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="row details-container justify-content-center">
    <div class="col-md-11 active-color candidates-hr">
    </div>
  </div>

  <div class="row details-container justify-content-center" *ngIf="job">
    <div class="col-md-11">
      <h3 class="float-left padding-top-20 active-color">Candidates</h3>
      <h3 class="float-right padding-top-20 active-color">Applied:{{" " + totalNumber}}</h3>
    </div>
  </div>

  <div *ngIf="totalNumber">

    <app-candidate *ngFor="let candidate of candidates"
                  [candidate]="candidate"
                  (onAccept)="candidateAccepted($event)">
    </app-candidate>

    <div class="row bottom-pagination">
      <div class="col-md-12">
        <ngb-pagination (pageChange)="pageChanged($event)"
                        [rotate]="true"
                        [pageSize]="size"
                        [maxSize]='10'
                        [collectionSize]="totalNumber"
                        [(page)]="page"
                        [directionLinks]="false">
        </ngb-pagination>
      </div>
    </div>
  </div>

  <div *ngIf="!totalNumber">
    <div class="row justify-content-center no-candidates details-container">
      <div class="col-md-4 no-results content-center">Still no one has applied :-(</div>
    </div>
  </div>


</div>
