<div class="row job-wrapper padding-5">
    <div class="col-md-2">
      <img src="assets/images/jobHalm.jpeg" width="90px" height="70px" class="padding-5"/>
    </div>
    <div class="col-md-8">
      <div class="row">
        <span>{{job.profession}}, {{job.region}}</span>
      </div>
      <div class="row">
        <span>{{job.createdDate | date: medium}}</span>
      </div>
      <div class="row">
        <span>{{job.description}}</span>
      </div>
    </div>
    <div class="col-md-2 delete-job">
      <button (click)="openDeleteJobModal()" class="btn btn-secondary float-right">
        <span class="fa fa-trash-o"></span>
      </button>
      <button (click)="openEditJobModal()" class="btn btn-secondary float-right">
        <span class="fa fa-pencil-square-o"></span>
      </button>
    </div>
</div>
