@import "global_variables.scss";

.job-wrapper {
  border: solid $brand-color 2px;
  border-radius: 5px;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.delete-job {
  padding: 17px 5px;
}
